/* Global base properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f5f5dc;
  } 

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
  
.Menu {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: baseline;
}

h1 {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color:#36454f ;
}

.InputGroup {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3539;
  color:#36454f ;
  width: 300px;
  margin: 10px;
}

.filterButtons {
  margin: 5px;
}

button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3539;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#36454f ;
  padding: 3px;
}

.tagArray {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3539;
  width: 300px;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}

.filtersTitle {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color:	#2c3539 ;
  text-align: left;
  font-size: 1rem;
}

.tag {
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#36454f ;
  break-inside: avoid;
  white-space: nowrap;
  margin-top: 5px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  break-inside: avoid;
}


  @media screen and (min-width: 400px) and (max-width: 800px) {
    .itemArray {
      columns: 1;
     }
  }

  

  @media screen and (min-width: 800px) and (max-width: 1200px) {
    .itemArray {
      columns: 2;
     }
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    .itemArray {
      columns: 3;
     }
  }

  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .itemArray {
      columns: 4;
     }
  }

  @media screen and (min-width: 2000px) and (max-width: 2400px) {
    .itemArray {
      columns: 5;
     }
  }

  @media screen and (min-width: 2400px) and (max-width: 2800px) {
    .itemArray {
      columns: 6;
     }
  }

  @media screen and (min-width: 2800px) and (max-width: 3200px) {
    .itemArray {
      columns: 7;
     }
  }

  @media screen and (min-width: 3200px) and (max-width: 3550px) {
    .itemArray {
      columns: 8;
     }
  }

  @media screen and (min-width: 3600px) and (max-width: 4000px) {
    .itemArray {
      columns: 9;
     }
  }